<div class="jumbotron">
  <nav class="container">
    <div class="navbar-right">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% for page in site.pages %}
          {% if page.title %}
          <div>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class="navbar-left">
      <h2>
        <a class="msad-header" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h2>
    </div>
  </nav>
</div>
